# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sensitive configuration files
config/application-secret.properties
application-secret.properties
env.properties
*.jks
*.p12
*.key
*.pem
*.crt

# Spring Boot
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Application properties
**/application-*.properties
!**/src/main/**/application-*.properties
!**/src/test/**/application-*.properties
